.drop-active {
    background: #ffff99;
}

.drop-hover {
    background: #ffff66;
}

.icart, .icart label {
    cursor: e-resize;
}

.divrm {
    text-align: right;
}
.remove {
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    /*position: relative;*/
    top: -7px;
}
.remove:hover {
    color: #999;
}

.back {
  background: #e9e9e9;
}

#recipesdrop {
    overflow: hidden;
    /*border: 8px solid #666;*/
    height: 1860px;
    z-index: -2;
    width: 365px;
    -webkit-border-radius: 0 .5em 0 0;
    -moz-border-radius: 0 .5em 0 0;
    border-radius: 0 .5em 0 0;
    background: #ffffff;
}
#cart_items {
    height: 1800px;
    width: 365px;
    padding: 0 0 0 2px;
    z-index: 0;
    cursor: e-resize;
    border-width: 0 2px;
     background: #ffffff;
}


