@media print {
    .noprint {
        display: none
    }

    .toprint {
        display: block;
    }

    h3 {
        font-size: 16px;
        line-height: 24px;
    }

    .font-12 {
        font-size: 12px;
    }

    img.img-recipe-modal {
        width: 60%;
        height: auto;
    }

    img.img-recipe-modal-step{
        display: none;
    }

    .modal-body p {
        font-size: 12px;
        margin-top: 0em;
        margin-bottom: 0.5em;
    }

    .modal-header .modal-label {
        word-wrap: break-word;
    }

    .row-fluid {
        font-size: 12px;
        width: 100%;
        *zoom: 1;
    }

    .row-fluid:before,
    .row-fluid:after {
        display: table;
        line-height: 0;
        content: "";
    }

    .row-fluid:after {
        clear: both;
    }

    .row-fluid [class*="span"] {
        display: block;
        float: left;
        width: 100%;
        min-height: 30px;
        *margin-left: 1.527659574468085%;
        margin-left: 2.074468085106383%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .row-fluid [class*="span"]:first-child {
        margin-left: 0;
    }

    .row-fluid .span4 {
        width: 30.914893617021278%;
        *width: 31.914893617021278%;
        *width: 31.861702127659576%;
    }

    .row-fluid .span6 {
        width: 48.93617021276595%;
        *width: 48.88297872340425%;
    }

    .row-fluid .span12 {
        width: 100%;
        *width: 99.94680851063829%;
    }

    .span4 {
        width: 300px;
    }

    .span12 {
        width: 940px;
    }

    .fixed-table {
        table-layout:fixed;
    }

    .summListRecipeName{
        width: 45%;
        word-wrap: break-word;
    }

    .table {
        font-size: 12px;
        width: 100%;
        margin-bottom: 20px;
    }

    .table-bordered {
        border: 1px solid #000000;
        *border-collapse: separate;
        border-collapse: collapse;
        border-left: 0;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }

    .table-bordered th,
    .table-bordered td {
        border-left: 1px solid #000000;
    }

    .table th,
    .table td {
        padding: 8px;
        line-height: 15px;
        text-align: left;
        vertical-align: top;
        border-top: 1px solid #000000;
        border-bottom: 1px solid #000000;
    }

    .table th {
        font-weight: bold;
    }

    .table-condensed th,
    .table-condensed td {
        padding: 4px 5px;
    }

    .text-cener {
        text-align: center;
    }

    .text-justify {
        text-align: justify;
    }

    .text-left {
        text-align: left;
    }

    .text-right {
        text-align: right;
    }

}
